{
  "presets": [
    [
      "env"
    ],
    "flow"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "remove-webpack",
    "dynamic-import-node",
    "transform-runtime"
  ]
}
